<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
			
			<link href="{{ asset('bundles/ibwfamilyfinances/css/bootstrap.css') }}" type="text/css" rel="stylesheet">  
			<link href="{{ asset('bundles/ibwfamilyfinances/css/bootstrap-responsive.css') }}" type="text/css" rel="stylesheet">  
			<link href="{{ asset('bundles/ibwfamilyfinances/css/mystyle.css') }}" type="text/css" rel="stylesheet">
			
			<link href="{{ asset('bundles/ibwfamilyfinances/css/jquery-wijmo.css') }}" rel="stylesheet" type="text/css" />
			<link href="{{ asset('bundles/ibwfamilyfinances/css/jquery.wijmo-pro.all.3.20133.20.min.css') }}" rel="stylesheet" type="text/css" />
		
		
		{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
		{% include '::baselayout.html.twig' %}
		<div class = "MainBlock">
        {% block body %}{% endblock %}
		</div>
        {% block javascripts %}
			<script src="{{ asset('bundles/ibwfamilyfinances/js/jquery-1.9.1.min.js') }}"></script>
			<script src="{{ asset('bundles/ibwfamilyfinances/js/jquery-ui.min.js') }}"></script>
			<script src="{{ asset('bundles/ibwfamilyfinances/js/jquery.wijmo-open.all.3.20133.20.min.js') }}"></script>
			<script src="{{ asset('bundles/ibwfamilyfinances/js/jquery.wijmo-pro.all.3.20133.20.min.js') }}"></script>
			<script src="{{ asset('bundles/ibwfamilyfinances/js/wijmo.data.ajax.3.20133.20.js') }}"></script>
			<script src="{{ asset('bundles/ibwfamilyfinances/js/knockout-2.2.0.js') }}"></script>
			<script src="{{ asset('bundles/ibwfamilyfinances/js/compositechart.js') }}"></script>
			
			
			<script src="{{ asset('bundles/ibwfamilyfinances/js/mypiechart.js') }}"></script> 
			<script src="{{ asset('bundles/ibwfamilyfinances/js/bootstrap.js') }}"></script>    
			<script src="{{ asset('bundles/ibwfamilyfinances/js/bootstrap-dropdown.js') }}"></script> 
		{% endblock %}
    </body>
</html>